.received {
  background-color: springgreen;
}

.sent {
  background-color: deepskyblue;
  text-align: right;
}

.video-container {
  /* border: 1px solid black; */
  overflow: hidden;
  resize: horizontal;
}

video {
  height: auto;
  width: 100%;
}

#chat-history {
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 100vh;
  overflow-y: auto;
}

#videos {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}